@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: lato;
    font-weight: 300;
    color: #3a3a3a;
}

/* headings and logo */

h1, h2 {
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #252525;
}

header a {
    text-decoration: none;
}

#logo {
    font-size: 280%;
    margin-left: 30px;
}

#menu {
    font-size: 110%;
    letter-spacing: 4px;
}

#menu li {
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu, #logo {
    line-height: 75px;
}

#menu a:hover {
    border-bottom: 1px solid #3a3a3a;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

.header {
    display: flex;
    justify-content: space-between;
}

.nav {
    display: flex;
}

#hero-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#hero-image {
    height: 600px;
    width: 100%;
    background: url(../images/hero-image.webp) no-repeat center center;

    /* Animating the hero image*/
    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

/* Creating the zoom level */
@keyframes hero-zoom {
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.1);
    }
}

#cover-text, #cover-text h2 {
    color: #fff
}

#cover-text {
    font-size: 130%;
    font-family: Oswald;
    text-transform: uppercase;
    letter-spacing: 4px;

    width: 300px;
    height: 200px;

    padding-top: 40px;
    padding-left: 10px;

    background-color: rgba(241, 109, 107, 0.7);

    bottom: 30px;
    right: 150px;
    position: absolute;
}

/* Club Ethos */

#club-ethos {
    height: 600px;
}

.about {
    display: flex;
}

hr {
    border-top: 1px solid #3a3a3a;
    width: 100%;
    margin: 5px 0;
}

#left-about {
    padding-top: 30px;
    width: 33%;
}

#right-about {
    padding-top: 30px;
    width: 33%;
}

#center-about {
    padding-top: 30px;
    width: 33%;
    /* background-color: green; */
}

.left-about-heading {
    width: 60%;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
    float: right;
}

.right-about-heading {
    width: 60%;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
    float: left;
    text-align: right;
}

#center-about {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: 1px solid #3a3a3a;
    padding: 30px;
    margin: 0 auto;
}

img {
    position: relative;
}

#welcome {
    text-align: center;
    margin: 20px 0;
    font-size: 280%;
}

#circle-cover-bg {
    background: url(../images/ethos-center-image.jpeg) no-repeat center center;
    height: 100%;
    border-radius: 50%;
}

/* event times */

#times {
    background: url(../images/dublin-city.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    overflow: hidden;
    display: flex;
}

#times div {
    color: #fafafa;
    background-color: rgba(0, 0, 0, 0.6);
    width: 20%;
    height: 300px;
    text-align: center;
    padding: 30px 0 0 10px;
    border: #fff 2px solid;
}

#times h2 {
    color: #fafafa;
}

/* Social Media Links */

footer {
    height: 150px;
}

.social-media-icons {
        text-align: center;
}

.social-media-icons > li {
    display: inline;
}

.social-media-icons i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: #3a3a3a;
}

/* Gallery Page */

#photos {
    clear: both;
    line-height: 0;
    column-count: 4;
    column-gap: 0;
}

#photos > img {
    width: 100%;
}

/* Media Queries */

/* For screens smaller than 1200px wide */

@media screen and (max-width: 1200px) {
    #club-ethos {
        width: 65%;
        height: 1200px;
        margin: 0 auto;
    }

    #welcome {
        padding: 30px;
        margin: 0;
    }

    .about {
        display: grid;
        grid-template-columns: 1fr;
    }

    #left-about, #right-about {
        width: 100%;
        padding: 0;
    }

    #right-about {
        margin-top: 50px;
    }

    hr {
        display: none;
    }
}

/* For medium sized screens from 950px wide and down */

@media screen and (max-width: 950px) {
    .header {
        display: grid;
        grid-template-columns: 1fr;
        margin-left: 30px;
        margin-bottom: 20px;
        line-height: 25px;
    }

    #logo {
        margin: 0;
    }
}